:root {
        --main-color: #6D9886;
}

#link {
        text-decoration: none;
        color: white;
}
#navbar nav {
        background-color: white;
        filter: drop-shadow(5px -20px 20px black);
}
        #login-button {
                border: none;
                color: white;
                border-radius: 40px;
                background-color: var(--main-color);
                font-weight: bold;
                padding: 11.8px;
                margin: 5px;
                box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
        }
        #register-button {
                border: solid;
                border-color: var(--main-color);
                border-radius: 40px;
                color: var(--main-color);
                background-color: white;
                font-weight: bold;
                padding: 10px;
                margin: 5px;
        }
                
                

#footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: var(--main-color);
        color: white;
        text-align: center;
        padding: 20px 0;
}
        #footer-hr {
                width: 50%;
                margin: auto;
                margin-bottom: 10px ;
        }

#login-form {
        padding: 50px;
        margin: 0 auto;
}
        #login-form input {
                background-color: white;
                border: none;
                border-bottom: solid gray;
                color: black;
        }
                #login-form input:focus {
                        outline: none;
                }
        #ButtonSubmit-login {
                border: none;
                border-radius: 40px;
                color: white;
                background-color: var(--main-color);
                font-weight: bold;
                padding: 7px;
                margin: 5px;
        }

#register-form {
        padding: 50px;
        margin: 0 auto;
}
        #register-form input {
                background-color: white;
                border: none;
                border-bottom: solid gray;
                color: black;
        }
                #register-form input:focus {
                        outline: none;
                }
        #ButtonSubmit-register {
                border: none;
                border-radius: 40px;
                color: white;
                background-color: var(--main-color);
                font-weight: bold;
                padding: 7px;
                margin: 5px;
        }
        #selectInput-register {
                margin-left: 50px;
                cursor: pointer;
                border: 2px solid var(--main-color);
                border-radius: 5px;
                line-height: 36px;
                height: 36px;
        }

#landing-text {
        position: absolute;
        padding: 50px;
        width: 50%;
        color: white;
}
#landing-video {
        width: 100%;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
}
#landing-separator {
        background-color: white;
        text-align: center;
        position: relative;
        width: 100%;
        top: 700px;
}
